.karam {
  font-size: 15px;
  font-weight: 200;
}

nav {
  z-index: 10 !important;
  right: 0;
  left: 0;
}

.home {
  margin-left: 200px;

}

.wasla {
  margin-left: 30px;


}

.section2 {



  background-image: url("1.jpg");
  height: 90vh;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  margin-bottom: 50px;
  color: white;
}

.dol {
  padding: 15px 20px;
  margin-top: 20px;
  font-size: 15px;
}


.section3 {

text-align: center;



}

.lore {

font-weight: 100;
line-height:1.7;
}


.need a{
  padding: 9px 5px;
  color: #a25f4b;
  border-bottom: 1px solid rgba(162, 95, 75, 0.2);
  text-decoration: none;
}

.nos {
font-size: 15px;
font-weight: 100;
text-align: center;
}


.card {
  display: flex;
  height: 100%;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  align-items: center;
}







.section4 .car{
  border: 0;

}


.section4 .div{
  width:70%;
  height: 500px;
  
}


.section5 .img{
  width: 75%;

}

.section4 .wool {
padding-left: 160px;

}
.section4 .woold {
  padding-right: 120px;


}

.section5 .dog {
  padding-left: 110px;
  
}

.section5 .rook {

padding-left: 70px;


}
.section6 img {
  width: 100%;
  margin-bottom: 10px;
}

.section6 .image1{
  height: 96%;
}
.section6 p {

font-weight: 100;
}
.section6 button {
font-size: 13px;
padding: 15px 25px;  
margin: 30px 0px;
}

.section6 .bol {

margin-left: 70px;


}
.section5 .dog {

margin-right: 70px;

}

.section7 {
background-image: url(12.jpg);
width: 100%;
height: 50vh;
background-attachment: fixed;
background-position: center;
padding-top: 200px;
display: flex;
text-align: center;
margin-bottom: 200px;
position: relative;
justify-content: center;
background-size: cover;


}

.section8 p {

font-weight: 100;

}



.section8 .img {

width: 400px;
height: 300px;
padding-right: 15px;


}
.section8 .rol {
margin-right: 90px;

}

.section8 .relo {
  display: block;
  margin-bottom: 10px;
  color: 1d1f2e;
  font-size: 20px;
  line-height: 32px;
}
.section8 .lolo {

line-height: 28px;
font-weight: 200;
}
.section9 {

  background-color: #1d1d1d;
margin: 20px 50px;

}


.section9 h1 {

color: white;
justify-content: center;
}
.section9 p {
color: white;

}

.section9 button {

padding: 15px 30px;
}



.section10 a {
  text-decoration: none !important;
font-weight: 100;
font-size: 13px;
font-style: italic;
  color: black;
  line-height: 22px;
    display: inline-block;
    border-bottom: 1px none rgba(220, 63, 15, 0.3);
}

.section10 p {
font-size: 15px;

font-weight: 100;
}